# Install and Load SQL Extension
Install and load the ipython-sql extension to enable SQL support in Jupyter notebooks.

In [ ]:
# Install ipython-sql if not already installed
!pip install ipython-sql

# Load the SQL extension
%load_ext sql

# Connect to a Database
Establish a connection to a local or remote SQL database using the %sql magic command.

In [ ]:
# Connect to an in-memory SQLite database
%sql sqlite://

# Create Tables with SQL
Write SQL statements to create tables in the connected database.

In [ ]:
-- Create a sample table called users
CREATE TABLE users (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
);

# Insert Data into Tables
Use SQL INSERT statements to add sample data to the tables.

In [ ]:
-- Insert sample data into users table
INSERT INTO users (name, age) VALUES ('Alice', 30);
INSERT INTO users (name, age) VALUES ('Bob', 25);
INSERT INTO users (name, age) VALUES ('Charlie', 35);

# Query Data from Tables
Write SQL SELECT statements to retrieve data from the tables.

In [ ]:
-- Select all users from the users table
SELECT * FROM users;

# Display Query Results
Show how query results are displayed in the notebook output pane. The results of the previous SELECT statement will be shown directly below the cell after execution.